
	/*	HTML / Body / Wrapper
	 */

	html {
	}

		body {
			text-align: center;
            font-size: 14px;
		}


			.wrapper {
				margin:     0 auto 40px auto;
				text-align: left;
				width:      700px;
			}

            h1, h2, h3, h4 {
                color: #555;
                margin: 1em 1em .5em 0;
            }

            h1 {
                font-size: 22px;
            }
            h2 {
                font-size: 18px;
            }

div.alert {
		background:    10px 11px no-repeat;
		border:        1px solid;
		clear:         both;
		color:         #525252;
		margin:        0 auto 20px;
		padding:       10px 10px 10px 35px;
	}

		div.done    { background-color: #e9fad0; background-image: url('/img/icons/tick.png');  border-color: #aee756; }
		div.error   { background-color: #ffe3df; background-image: url('/img/icons/cross.png'); border-color: #f08a73; }
		div.warning { background-color: #ffefb5; background-image: url('/img/icons/error.png'); border-color: #ffca0b; }

		.alert h2 {
			font-size:   1.6em;
			font-weight: bold;
			line-height: 1.1;
			margin:      0 0 .7em;
		}

		.alert p {
			margin-bottom: 0em;
		}

		.alert ul {
			margin:  0;
			padding: 0;
		}